.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  /* margin-right: 5px; */
  width: 40%;
  height: 100vh;
  background-color: #ffffff;
}

.autocompleteWrapper {
  width: 100%;
  height: 100%;
}

.autocompleteInput {
  width: 96%;
  margin: 84px auto 0 auto;
  padding: 16px;
  display: block;
  border: 1px solid yellow;
}

.suggestionWrapper {
  margin: 0;
  width: 96%;
  overflow-x: hidden;
  list-style: none;
  margin: 0 auto;
  display: block;
  padding: 4px;
}

.suggestionWrapper > li {
  padding: 8px 4px;
  background-color: lightcoral;
  margin: 4px 0;
  cursor: pointer;
}

.text {
  color: black;
}

.apexcharts-tooltip {
  background: #f3f3f3;
  color: orange;
}

::ng-deep .apexcharts-tooltip{
  background-color:#52575C !important;
  color:#FEFEFE;
  border-color:#FEFEFE;
 }
 
 ::ng-deep .apexcharts-tooltip-title{
  background-color:#52575C !important;
  color:#FEFEFE;
  border-color:#FEFEFE;
 }

 .modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-content {
  
  /* Add any additional styles for the modal content */
}

.modal-close {
  margin-top: 10px;
}

.input-content {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

